.cardbar {
  padding: 0rem;
  background: none;
}
.cardbar-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: auto;
  width: 480px;
  margin: 0 auto;
  background: none;
}

.button h3 {
  font-size: 18px;
  margin-top: 2px;
}

.btn-group{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.09), 0 6px 20px 0 rgba(0,0,0,0);
}
.btn-group .button {
  background-color: #ffffff; 
  border: none;
  color: #49A9E1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  font-size: 16px;
}

.btn-group .button:focus::after {
  background-color: #CFE9F7;
  color: #49A9E1;
}

.buttonJob {
  width: 160px;
  height: 120px;
  background-color: #ffffff; 
  border: none;
  color: #49A9E1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  font-size: 16px;
}
.HoldbuttonJob {
  width: 160px;
  height: 120px;
  background-color: #CFE9F7;
  border: none;
  color: #49A9E1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  font-size: 16px;
}
.buttonJob h3{
  font-size: 18px;
}
.HoldbuttonJob h3{
  font-size: 18px;
}


.btn-group .button:hover {
  background-color: #CFE9F7;
}

.btn-group2{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.09), 0 6px 20px 0 rgba(0,0,0,0);
  border-radius: 0px 0px 30px 30px;
}
.btn-group2 .button {
  background-color: #ffffff; 
  border: none;
  color: #49A9E1;
  width: 50%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  font-size: 16px;
}

.Clicked-CardbarJob {
  display: none;
}

.redius-L{
  border-radius: 0px 0px 0px 30px;
}
.redius-R{
  border-radius: 0px 0px 30px 0px;
}
.btn-group2 .button:hover {
  background-color: #CFE9F7;
}
.btn-group2 .button:focus {
  background-color: #49A9E1;
  color: rgb(255, 255, 255);
}

.buttonFW{
  width: 240px;
  height: 54px;
  background-color: #ffffff;
    border: none;
    color: #49A9E1;
    width: 50%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;

}

.HoldbuttonFW{
  width: 240px;
  height: 54px;
    border: none;
    width: 50%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
  background-color: #49A9E1;
  color: rgb(255, 255, 255);
}

.buttonwork-link {
  text-decoration: none;
  color: #000000;
}
