.Container-work {
    width: 100%;
    height: 100%;
    min-height: 600px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.Work-title {
    margin-left: 20px;
    display: flex;
    width: 1100px;
    height: 100px;
}

.Work-title h3 {
    font-size: 32px;
}

.font__tail h3 {
    font-size: 24px;
}

.Work__box__image__midtext {
    font-size: 30px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 250px 100px 250px 100px;
}

.font__topic__work {
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.font__topcif__work {
    padding-left: 25px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.font__detail__work {
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
}

.Work-box-image {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 550px;
    height: 550px;
    position: relative;
    display: block;
    background-color: #acacac;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.Work-box-detail {
    margin-bottom: 20px;
    width: 500px;
    height: 550px;
    position: relative;
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    justify-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    padding: 20px 20px 15px 15px;
}

.Work__box__detail {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 450px;
    height: 500px;
    position: relative;
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    justify-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    padding: 20px 20px 20px 20px;
}

.box__contact__user {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.box__contact__text {
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
}

.box__contact__fonttext {
    font-size: 30px;
}

.box__contact__textline {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
}

.box__contact__textend {
    margin-right: 20px;
    margin-top: 20px;
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
}

.box__contact__ct {
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.box__contact__ct__topic {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: rgba(73, 169, 225, 1);
}

.box__contact__ct__topicline__top {
    margin-top: 0px;
    /* font-size: 18px;
    font-family: 'PT Sans', sans-serif; */
}

.box__contact__ct__topicline {
    margin-top: 15px;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
}

.box__image {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    padding: 15px 15px 15px 15px;
    /* background-image: ; */
    background: url('https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg');
    background-position: center;
    background-size: cover;
}

.Company-box-detail {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 1080px;
    height: 390px;
    padding: 25px 25px 25px 25px;
    position: relative;
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    justify-content: space-between;
    flex-direction: row;
}

.spacing-top {
    margin-top: 30px;
}