.MyNavdropdown-menu {
    background: none;
    width: 200px;
    position: absolute;
    top: 70px;
    right: 10px;
    list-style: none;
    text-align: start;
}
  
.MyNavdropdown-menu li {
  background: #CFE9F7;
  cursor: pointer;
}
  
.MyNavdropdown-menu li:hover {
  background: #A1D3F0;
}

.MyNavdropdown-menu.clicked {
  display: none;
}

.MyNavdropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000000;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}